page-teacher-attendance {
    .view-code {
        text-align: center;
        span {
            padding: 15px;
            display: inline-block;
            border: 1px dashed #000;
            border-radius: 6px;
            font-size: 25px;
            letter-spacing: 5px;
        }
    }
}
